In [1]:
import pandas as pd

In [2]:
zips = pd.Series({'Boston':'02215', 'Miami':'2121'})

In [3]:
print(zips.str.match(r'\d{5}'))

Boston     True
Miami     False
dtype: bool

In [4]:
cities = pd.Series(['Boston, MA 02215'])

In [5]:
cities.str.contains(r' [A-Z]{2}')

0    True
dtype: bool

In [6]:
contacts = [['Mike Green', 'demo1@deitel.com', '5555551234']]
print(contacts)

[['Mike Green', 'demo1@deitel.com', '5555551234']]

In [13]:
contactsdf = pd.DataFrame(contacts, columns=['name', 'email', 'phone'])
contactsdf

         name             email       phone
0  Mike Green  demo1@deitel.com  5555551234

In [8]:
import re

In [9]:
def get_formatted_phone(value):
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
    return '-'.join(result.groups()) if result else value

In [10]:
formatted_phone = contactsdf['phone'].map(get_formatted_phone)

In [11]:
contactsdf['phone'] = formatted_phone

In [12]:
print(contactsdf)

         name             email         phone
0  Mike Green  demo1@deitel.com  555-555-1234